/* Profile.css */
.profile-container {
    padding: 20px;
    background-color: #585858;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
  }
  
  .profile-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .profile-container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .profile-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .profile-container li {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .profile-container button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .profile-container button:hover {
    background-color: #f4f4f4;
  }
  